#main
{
    background-color: white;
    position:absolute; 
    left: 0;
    top: 0; 
    bottom: 0; 
    width: 100%;
}

.colorbox
{
    height: 50px;
    width: 50px;
    border-style: solid;
}

#bike {
    display: block;
    margin: auto;
    width: 75%;
    position: relative;
    top:50%;
    bottom:50%;
}

#bikecircle {
    position: relative;
    background-color: white;
    text-align: center;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
    width: 150px;
    height: 150px;
}