@font-face {
  font-family: 'Circular Std Black';
  font-style: normal;
  font-weight: normal;
  src: local('Circular Std Black'), url('../public/fonts/CircularStd-Black.woff') format('woff');
}

html,
body,
.container {
  font-family: 'Circular Std Black';
  font-size: 16pt;
  height: 100vh;
  margin: 0;
  padding: 0;
  width: 100vw;
}

#next-instruction {
  background-color: red;
  height: 50vh;
  margin: 0 auto;
  position: absolute;
  text-align: center;
  top: 0;
  width: 100vw;
}
#next-instruction-arrow {
  color: #fff;
  display: inline-block;
  /*font-size: 4em;*/
  height: 50%;
  text-align: center;
  width: 50%;
}
#next-instruction-arrow > .fa {
  margin: 0 auto;
}
#next-instruction-road {
  display: inline-block;
  height: 50%;
  text-align: center;
  width: 50%;
}
#next-instruction-road > div {
  margin: 0 auto;
}

#next-instruction-distance {
  background-color: #fff;
  border-radius: 25px;
  display: block;
  height: 50px;
  line-height: 50px;
  margin: auto;
  margin-top: -25px;
  position: absolute;
  text-align: center;
  top: 50vh;
  width: 33vw;
  z-index: 99;
  left: 0;
  right: 0;
}

#current-road {
  background-image: url("./assets/bike.svg");
  background-position: bottom 25px center;
  background-repeat: no-repeat;
  background-size: 30vw;
  background-color: blue;
  height: 50vh;
  position: absolute;
  top: 50vh;
  width: 100vw;
}
#current-road > div {
  bottom: -50px;
  margin: auto;
  position: relative;
}

/*
#debug {
  display: none;
}
*/

.road-square {
  background-color: #fff;
  border-radius: 10px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  width: 50px;
}
/*
#main
{
    background-color: white;
    position:absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 100%;
}

.colorbox
{
    height: 50px;
    width: 50px;
    border-style: solid;
}

#bike {
    display: block;
    margin: auto;
    width: 40%;
    position: relative;
    top: 35%;
    bottom:50%;
}

#bikecircle {
    position: relative;
    background-color: white;
    text-align: center;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
    width: 150px;
    height: 150px;
}

#distanceNextContainer
{
    text-align: center;
}

#distanceNext
{
    display: inline-block;
    background-color: yellow;
}

#direction{
    position: relative;
    top: 10%;
}

*/
