#main
{
    background-color: white;
    position:absolute; 
    left: 0;
    top: 0; 
    bottom: 0; 
    width: 100%;
}

.colorbox
{
    height: 50px;
    width: 50px;
    border-style: solid;
}

#bike {
    display: block;
    margin: 0 auto;
    width: 20%;
}