.mapboxgl-ctrl-top-right {
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: auto;
}

.mapboxgl-ctrl-geocoder {
  z-index: auto;
  border-radius: 30px;
  border: 1px solid $primary_color;
  box-shadow: none;
  font-family: 'Circular Std Black';

  .geocoder-pin-right * {
    z-index: auto;
  }

  .suggestions {
    padding: 10px;
    margin: 11px 10%;
    width: 80%;
    border-radius: 10px;
    box-shadow: none;
    border: 1px solid $primary_color;
    overflow: visible;

    &:after,
    &:before {
      bottom: 100%;
      border: solid transparent;
      content: "";
      height: 0;
      width: 0;
      position: absolute;
    }

    &:after {
      border-color: rgba(0, 0, 0, 0);
      border-bottom-color: $white;
      border-width: 10px;
      left: 50%;
      margin-left: -10px;
    }

    &:before {
      border-color: rgba(161, 103, 45, 0);
      border-bottom-color: $primary-color;
      border-width: 11px;
      left: 50%;
      margin-left: -11px;
    }

    li.active a {
      color: $secondary_color;
    }
  }

  input {
    font-family: 'Circular Std Black';
  }
}

.mapboxgl-ctrl-bottom-left {
  z-index: 1;
}

.mapboxgl-ctrl-attrib {
  position: absolute;
  bottom: 0;
  white-space: nowrap;
}

.mapboxgl-ctrl-attrib.mapboxgl-compact {
  margin: 0;

  a {
    display: none;
  }
}

@media (max-width: 800px) {
  .mapboxgl-ctrl-top-right {
    width: calc(100% - 4em - 40px);
    flex-direction: column;
    align-items: center;

    .mapboxgl-ctrl-geocoder {
      width: 100%;
    }
  }
}
