// All the mapbox overrides, mostly for the geocoder

.mapboxgl-popup-close-button {
  display: none;
}

.mapboxgl-ctrl-top-right {
  position: absolute;
  top: -120px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  z-index: 2;
  box-sizing: border-box;
  background: $primary_color;
  padding: 1em;
  pointer-events: all;
  height: 120px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

  .mapboxgl-ctrl {
    margin: 0.5em;
  }
}

.mapboxgl-ctrl-geocoder {
  z-index: auto;
  border-radius: 30px;
  box-shadow: none;
  font-family: 'Circular Std Black';
  min-width: 0;
  width: 50%;
  max-width: 20em;

  .geocoder-pin-right * {
    z-index: auto;
  }

  .suggestions {
    padding: 10px;
    margin: 11px 10%;
    width: 80%;
    border-radius: 10px;
    box-shadow: none;
    border: 1px solid $primary_color;
    overflow: visible;

    &:after,
    &:before {
      bottom: 100%;
      border: solid transparent;
      content: '';
      height: 0;
      width: 0;
      position: absolute;
    }

    &:after {
      border-color: rgba(0, 0, 0, 0);
      border-bottom-color: $white;
      border-width: 10px;
      left: 50%;
      margin-left: -10px;
    }

    &:before {
      border-color: rgba(161, 103, 45, 0);
      border-bottom-color: $primary-color;
      border-width: 11px;
      left: 50%;
      margin-left: -11px;
    }

    li.active a {
      color: $secondary_color;
    }
  }

  input {
    font-family: 'Circular Std Black';
  }
}

.mapboxgl-ctrl-bottom-left {
  z-index: 0;
}

.mapboxgl-ctrl-attrib {
  position: absolute;
  bottom: 0;
  white-space: nowrap;
}

.mapboxgl-ctrl-attrib.mapboxgl-compact {
  margin: 0;
  padding-right: 5px;
  padding-left: 24px;
}

.mapboxgl-ctrl-attrib.mapboxgl-compact:after {
  left: 0;
}

@media (max-width: 800px) {
  .mapboxgl-ctrl-top-right {
    width: 100%;
    display: inline-block;

    .mapboxgl-ctrl-geocoder {
      max-width: inherit;
      width: calc(100% - 88px - 1em);
      position: absolute;

      &:nth-of-type(2) {
        top: 0.5em;
        right: 2em;
      }

      &:nth-of-type(4) {
        bottom: 0.5em;
        right: 2em;
      }
    }
  }
}
