.container {
  font-family: 'Circular Std Black';
  font-size: 24pt;
  height: 100vh;
  margin: 0;
  padding: 0;
  width: 100vw;
}

#next-instruction {
  height: 20vh;
  margin: 0 auto;
  position: absolute;
  text-align: center;
  top: 0;
  width: 100vw;
}
#next-instruction-arrow {
  position: absolute;
  color: $white;
  height: 45%;
  text-align: center;
  width: 100%;
  margin: 0 auto;
}
#next-instruction-road {
  height: 45%;
  text-align: center;
  width: 100%;
}
#next-instruction-road-ref {
  left: 0;
  right: 0;
  position: absolute;
}
#next-instruction-road > div {
  margin: 0 auto;
}
#next-instruction-distance {
  background-color: $white;
  border-radius: 25px;
  display: block;
  height: 50px;
  line-height: 50px;
  margin: auto;
  margin-top: -25px;
  position: absolute;
  text-align: center;
  top: 50vh;
  width: 40vw;
  z-index: 2;
  left: 0;
  right: 0;
  color: $dark-grey;
}

#current-road {
  background-image: url("../icons/bike.svg");
  background-position: bottom 5vh center;
  background-repeat: no-repeat;
  background-size: 30vw;
  height: 50vh;
  position: absolute;
  top: 50vh;
  width: 100vw;
}
#current-road > div {
  margin: auto;
  position: relative;
}

#current-road-ref {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  bottom: 25vh;
}

.road-square {
  background-color: $white;
  border-radius: 10px;
  height: 10vh;
  line-height: 10vh;
  text-align: center;
  width: 10vh;
  overflow: hidden;
}

.round-button {
  position: absolute;
  margin: auto;
  z-index: 2;
  background-color: $primary-color;
  border-radius: 50%;
  display: inline-block;
  height: 10vh;
  text-align: center;
  width: 10vh;
  border: none;
  right: 5vh;
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: bottom 50% center;
}

#goto-map {
  top: 38vh;
  background-image: url('../icons/marker-white.svg');
}

#close-navigation {
  top: 52vh;
  background-image: url('../icons/x-14.svg');
}

.message-box {
  background-color: $white;
  text-align: center;
}

#current-road-message {
  top: 10vh;
  display: none;
}

#message {
  position: absolute;
  top: 0vh;
  z-index: 2;
}

#swoosh {
  position: absolute;
  bottom: 10vh;
  width: 100vw;
}

#swoosh-left {
  float: left;
  color: $white;
  width: 25%;
}

#swoosh-right {
  float: right;
  color: $white;
  width: 25%;
}

#direction-arrow {
  background-color: $primary-color;
  border-radius: 50%;
  position: relative;
  display: block;
  z-index: 2;
  top: 76vh;
  margin: 0 auto;
  width: 23vh;
  height: 23vh;
  background-image: url("../icons/arrow.svg");
  background-size: 75%;
  background-repeat: no-repeat;
  background-position: bottom 50% center;
}

#total-distance {
  position: absolute;
  z-index: 2;
  bottom: 1vh;
  left: 2vh;
}

#arrival-time {
  position: absolute;
  z-index: 2;
  bottom: 1vh;
  right: 2vh;
}