// mapbox imports
@import '../../node_modules/mapbox-gl/dist/mapbox-gl.css';
@import '../../node_modules/@mapbox/mapbox-gl-geocoder/dist/mapbox-gl-geocoder.css';
@import '../../node_modules/add-to-homescreen/dist/style/addtohomescreen.css';

@import './colors';
@import './mapbox-overrides';
@import './animations/double-bounce';
@import './animations/pulse';
@import './animations/pulse2';

@import './routeplanner/index';
@import './navigation';

@font-face {
  font-family: 'Circular Std Black';
  font-style: normal;
  font-weight: normal;
  src: local('Circular Std Black'),
    url('../../public/fonts/CircularStd-Black.woff') format('woff');
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  font-family: 'Circular Std Black';
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  -webkit-font-smoothing: antialiased;
  -ms-text-size-adjust: 100%;
}

.routeplanner,
.navigation {
  display: none;
  width: 100vw;
}

.main-loading {
  display: none;
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 99;
  align-items: center;
  justify-content: center;
}

.main-loading--bg {
  background: $primary_color;
}

// import toggles last
@import './toggles';
