// mapbox imports
@import '../../node_modules/mapbox-gl/dist/mapbox-gl.css';
@import '../../node_modules/@mapbox/mapbox-gl-geocoder/dist/mapbox-gl-geocoder.css';

@import './colors';

@font-face {
  font-family: 'Circular Std Black';
  font-style: normal;
  font-weight: normal;
  src: local('Circular Std Black'),
    url('../../public/fonts/CircularStd-Black.woff') format('woff');
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  font-family: 'Circular Std Black';
}

.mapboxgl-ctrl-top-right {
  width: 100%;
  display: flex;
  justify-content: center;
}

.mapboxgl-ctrl-geocoder {
  border-radius: 30px;
  border: 1px solid $primary_color;
  box-shadow: none;
  font-family: 'Circular Std Black';

  .suggestions {
    padding: 10px;
    margin: 11px 10%;
    width: 80%;
    border-radius: 10px;
    box-shadow: none;
    border: 1px solid $primary_color;
    overflow: visible;

    &:after,
    &:before {
      bottom: 100%;
      border: solid transparent;
      content: "";
      height: 0;
      width: 0;
      position: absolute;
    }

    &:after {
      border-color: rgba(0, 0, 0, 0);
      border-bottom-color: $white;
      border-width: 10px;
      left: 50%;
      margin-left: -10px;
    }

    &:before {
      border-color: rgba(161, 103, 45, 0);
      border-bottom-color: $primary-color;
      border-width: 11px;
      left: 50%;
      margin-left: -11px;
    }

    li.active a {
      color: $secondary_color;
    }
  }

  input {
    font-family: 'Circular Std Black';
  }
}

#map {
  height: 100vh;
  width: 70vw;
}

.menu-btn-open {
  z-index: 1;
  cursor: pointer;
  position: absolute;
  display: none;
  top: 0;
  left: 20px;
  width: 40px;
  height: 104px;
  background: url('../icons/hamburger.svg');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.menu {
  z-index: 3;
  height: 100vh;
  width: 30vw;
  background: $secondary_color;
  padding: 0 2em;
  overflow: auto;

  .menu-btn-close {
    display: none;
    cursor: pointer;
    margin-top: 0.67em;
    float: right;
    width: 30px;
    height: 30px;
    background: url('../icons/close.svg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }
}

.menu-title {
  display: inline-block;
  color: $white;
  font-size: 20px;
}

.routelists {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.routelist {
  display: flex;
  align-content: center;
  flex-flow: row wrap;
  justify-content: space-around;
  padding: 0;
  list-style: none;
  color: $white;
}

.routelist-top {
  color: $white;
  cursor: pointer;
  text-align: center;
  display: flex;
  justify-content: space-around;
}

.routelist-item {
  margin: 0.2em;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-filler {
  height: 0;
  flex: 1 0 0;
}

.routelist-item--active {
  color: $primary_color;
}

.routelist-item-radial {
  width: 3em;
  height: 3em;
  border-radius: 5px;
}

.routelist-item-transverse {
  height: 2em;
  width: 3em;
  border-radius: 5px;
}

.routelist-item-loop {
  height: 3em;
  width: 3em;
  border-radius: 50%;
}

.mapboxgl-ctrl-geocoder {
  z-index: auto;
}

.pulse {
  width: 10px;
  height: 10px;
  border: 5px solid rgba(251, 186, 0, .45);
  border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  background-color: #fff;
  z-index: 10;
  position: absolute;
}

.dot {
  border: 10px solid $primary_color;
  background: transparent;
  border-radius: 60px;
  -moz-border-radius: 60px;
  border-radius: 60px;
  height: 50px;
  width: 50px;
  animation: pulse 3s ease-out;
  -moz-animation: pulse 3s ease-out;
  animation: pulse 3s ease-out;
  animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  position: absolute;
  top: -25px;
  left: -25px;
  z-index: 1;
  opacity: 0;
}

@keyframes pulse {
  0% {
    transform: scale(0);
    opacity: 0.0;
  }
  25% {
    transform: scale(0);
    opacity: 0.1;
  }
  50% {
    transform: scale(0.1);
    opacity: 0.3;
  }
  75% {
    transform: scale(0.5);
    opacity: 0.5;
  }
  100% {
    transform: scale(1);
    opacity: 0.0;
  }
}

.center-btn {
  position: absolute;
  bottom: 2em;
  right: 2em;
  background: $primary_color;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  padding: 1em;

  &:focus {
    outline: none;
  }

  img {
    width: 100%;
    height: 100%;
  }
}

@media (max-width: 800px) {
  .menu {
    width: calc(66vw - 4em);
    position: absolute;
    transform: translateX(calc(-66vw - 4em));
    transition: transform ease-in-out 0.5s;

    .menu-btn-close {
      display: block;
    }
  }

  .menu-btn-open {
    display: block;
  }

  #map {
    width: 100vw;
  }

  .mapboxgl-ctrl-top-right {
    width: calc(100% - 4em - 40px);
    flex-direction: column;
    align-items: center;

    .mapboxgl-ctrl-geocoder {
      width: 100%;
    }
  }
}
