@import './colors';

@font-face {
  font-family: 'Circular Std Black';
  font-style: normal;
  font-weight: normal;
  src: local('Circular Std Black'),
    url('./fonts/CircularStd-Black.woff') format('woff');
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  font-family: 'Circular Std Black';
}

#map {
  height: 100vh;
  width: 70vw;
}

.menu {
  height: 100vh;
  max-width: 300px;
  width: 30vw;
  background: $secondary_color;
  padding: 0 2em;
  overflow: auto;
}

.menu-title {
  color: $white;
  font-size: 20px;
}

.routelists {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.routelist {
  display: flex;
  align-content: center;
  flex-flow: row wrap;
  justify-content: space-around;
  padding: 0;
  list-style: none;
  color: $white;
}

.routelist-item {
  margin: 0.2em;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-filler {
  height: 0;
  flex: 1 0 0;
}

.routelist-item--active {
  color: $primary_color;
}

.routelist-item-radial {
  width: 3em;
  height: 3em;
  border-radius: 5px;
}

.routelist-item-transverse {
  height: 2em;
  width: 3em;
  border-radius: 5px;
}

.routelist-item-loop {
  height: 3em;
  width: 3em;
  border-radius: 50%;
}

.mapboxgl-ctrl-geocoder {
  z-index: auto;
}

.pulse {
  width: 10px;
  height: 10px;
  border: 5px solid rgba(251, 186, 0, .45);
  border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  background-color: #fff;
  z-index: 10;
  position: absolute;
}

.dot {
  border: 10px solid $primary_color;
  background: transparent;
  border-radius: 60px;
  -moz-border-radius: 60px;
  border-radius: 60px;
  height: 50px;
  width: 50px;
  animation: pulse 3s ease-out;
  -moz-animation: pulse 3s ease-out;
  animation: pulse 3s ease-out;
  animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  position: absolute;
  top: -25px;
  left: -25px;
  z-index: 1;
  opacity: 0;
}

@keyframes pulse {
  0% {
    transform: scale(0);
    opacity: 0.0;
  }
  25% {
    transform: scale(0);
    opacity: 0.1;
  }
  50% {
    transform: scale(0.1);
    opacity: 0.3;
  }
  75% {
    transform: scale(0.5);
    opacity: 0.5;
  }
  100% {
    transform: scale(1);
    opacity: 0.0;
  }
}

.center-btn {
  position: absolute;
  bottom: 2em;
  right: 2em;
  background: $primary_color;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  padding: 1em;

  img {
    width: 100%;
    height: 100%;
  }
}
